header{
    background-image: url("images/header.jpg");
    width:100%;
    height:500px;
    background-size: cover;
   
}

/* nav{
    
    /* text-align: center; */
    /* line-height: 50px;
    display:flex;
    flex-direction: row;
  
}  */

 nav ul{
    background-color:white;
    height: 50px;
    width: 100%;
    list-style:none;
    display:flex;
    justify-content: flex-end; 
    justify-content: space-around; 
}